# Force project language
* linguist-language=Python

# Exclude non-source directories
static/** linguist-vendored
media/** linguist-vendored
node_modules/** linguist-vendored
screenshots/** linguist-vendored